<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-content>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <h1>Te olvidaste tu Contraseña?</h1>
    <p>¡No te preocupes! escribe un email existente y recibe intrucciones para recuperarla.</p>
    

    <ion-item>
      <ion-input [(ngModel)]="email" type="text" label="Correo:" labelPlacement="floating" placeholder="ingrese un correo existente"></ion-input>
    </ion-item> 

    <ion-button (click)="enviCorr()" expand="block" color="success">Confirmar</ion-button>
    <h4 (click)="login()">volver al inicio de Sesión</h4>

  </ion-card-content>
  </ion-card>
</ion-content>
